@import './colors.scss';

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $caribbean-green;
}

.HeaderWrapper {
  display: flex;
  width: 100%;
  height: 10vh;

}

.HomeWrapper {

  width: 100vw;
  height: 80vh;

}

.FooterWrapper {

  height: 10vh;
  width: 100vw;
  z-index: 4;
}

.ImageBackground {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
  margin: 0px;
  z-index: 2;
}

.CirculoVerde {
  position: absolute;
  left: -300px;
  top: 100px;
  width: 80%;
  z-index: 0;
}


