

$aquamarine: hsla(152, 100%, 77%, 1);
$caribbean-green: hsla(168, 100%, 41%, 1);
$teal: hsla(178, 70%, 30%, 1);
$raisin-black: hsla(244, 14%, 24%, 1);
$white: hsla(0, 0%, 100%, 1);

$transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);